.quiz-page-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Cabin", sans-serif;
    color: #f5f5f5;
    width: 100%;
    padding: 1rem;
}

.form-card {
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    width: 100%;
    max-width: 650px;
    padding: 1rem 2rem;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4)
}

.name-card {
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    text-align: center;
}

.name-card input {
    border: 1px solid #ccc;
    margin-left: 0.5rem;
    border-radius: 12px;
    padding: 0 0.5rem;
    width: 50%;
}

.question-card {
    padding: 1rem 2rem;
    margin-top: 1rem;
    width: 100%;
}

.question-text {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-family: "Cabin", sans-serif;
    font-weight: 300;
}

.option-label input {
    margin-right: 0.5rem;
    cursor: pointer;
}

/* === submit button - position to match the quiz-container === */
.submit-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 650px;
    margin: 1rem auto 0;
}

.submit-button {
    padding: 0.3rem 2.5rem;
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button:hover {
    background-color: #f5f5f5;
    color: #1a2238;
    transform: scale(1.05);
}

@media (max-width: 480px) {
    .submit-container {
        justify-content: center;
    }
}