.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: blue; /* just here for now to see the height of the header */
    height: 3.5rem;

}