.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(6, 0, 0, 0.5);
    height: 4.4rem;
    color: #f5f5f5;
    border-bottom: 2px solid rgba(47, 58, 82, 0.5);
    padding: 0 1rem;
    box-sizing: border-box;
}

.header-title {
    font-family: "Harry P", sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0.15rem;
}

.nav-bar {
    font-family: "Cabin", sans-serif;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 12px;
    padding: 0.5rem 1rem;
}

.link:hover {
    background-color: #5d8aa8;
    color: #f5f5f5;
}

.link.active {
    text-decoration: underline;
}

/* === media queries === */
@media (max-width: 768px) {
    .header-title {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .header-title {
        font-size: 1.2rem;
    }

    .nav-bar {
        gap: 0.3rem;
    }

    .link {
        padding: 0.3rem 0.6rem;
        font-size: 0.8rem;
    }
}